{{ form_start(form) }}
    {{ form_widget(form) }}
<div class="d-flex flex-wrap justify-content-center mt-4">
    <button class="btn btn-success btn-lg shadow-sm rounded-pill">
        <i class="bi bi-check-circle-fill me-2"></i>Valider
    </button>
</div>
{{ form_end(form) }}
