{% extends 'base.html.twig' %}

{% block title %}Campus | {{ parent() }}{% endblock %}

{% block body %}
    <div>
        <h1>Affiche les campus et possibilité d'en ajouter</h1>
    </div>
{% endblock %}