{% extends 'base.html.twig' %}

{% block title %}Annuler une sortie | {{ parent() }}{% endblock %}

{% block body %}
    <div>
        <h1>Annuler la sortie : (nom de la sortie)</h1>
    </div>
{% endblock %}