body {
    background-color: #f8f9fa;
    min-height: 100vh;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

.card {
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.075);
}

main {
    flex: 1 0 auto;
}

.edit-form td, .new-ville-form td {
        padding: 0.5rem;
}

.edit-form .form-control, .new-ville-form .form-control {
    display: inline-block;
    width: auto;
}

/* .table .data-row:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05);
} */
    

