<form method="post" action="{{ path('ville_delete', {'id': ville.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette ville ?');" style="display: inline-block;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ville.id) }}">
    <button class="btn btn-sm btn-danger">
        <i class="bi bi-trash"></i> Supprimer
    </button>
</form>
